# UI base URL
BASE_URL=https://demo2.cybersoft.edu.vn

# API base URL
# Cần thay giá trị này theo project thật nếu API không dùng cùng domain với UI.
API_BASE_URL=https://demo2.cybersoft.edu.vn

# TokenCybersoft lấy từ Swagger/Cybersoft.
# Không commit token thật lên GitHub.
TOKEN_CYBERSOFT=

# Credential login thật nếu muốn chạy API login.
# Không bịa username/password nếu chưa có account thật.
USERNAME=
PASSWORD=


# Test data mặc định
DEFAULT_GROUP=GP01
DEFAULT_COURSE_ID=000

# k6 target path
# Mặc định "/" để smoke test không phụ thuộc API token.
# Khi test API thật có thể đổi thành: /api/QuanLyKhoaHoc/LayDanhSachKhoaHoc?MaNhom=GP01
K6_TARGET_PATH=/
