node_modules/
.env
dist/

reports/playwright/allure-results/
reports/playwright/allure-report/
reports/playwright/html/
reports/playwright/junit/
reports/playwright/test-results/

reports/k6/html/
reports/k6/summary/
reports/k6/raw/

public-report/
logs/

.DS_Store
*.log

package-lock.json.backup*
package.json.backup*
